body {
    background: #f5f7fa;
}

.sub-nav {
    height: 80px;
    margin-top: 30px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.sub-nav .container {
    background: #fff;
}

.security-nav-container {
    padding: 27px 0;
    width: 1140px;
    margin: 30px auto 0;
    background: #fff;
}

.security-nav-container ul {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.security-nav-container ul li {
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.security-nav-container ul li a:hover, .security-nav-container ul li.active a {
    color: #3793df;
}

.security-nav-container ul li a {
    color: #93a0b0;
    font-size: 20px;
    font-weight: 600;
}

li, ul {
    margin-bottom: 0;
}

dl, ol, ul {
    margin-top: 0;
}

.breadcrumb, .carousel-indicators, .dropdown-menu, .media-list, .nav, .pager, ol, ul {
    list-style: none;
}

/**, :after, :before {*/
    /*box-sizing: border-box;*/
/*}*/

.sub-nav .container ul li {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    font-weight: bolder;
    position: relative;
}

.sub-nav .container ul li a {
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    color: #93a0b0;
}

.sub-nav .container ul .active a, .sub-nav .container ul li a:hover {
    color: #3793df;
}

.issue-container {
    background: #fff;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

.col-md-12 {
    width: 100%;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.issue-container .issue-list .issue-section:first-child .issue-ever {
    border: 0;
}

.issue-container .issue-list .issue-ever {
    border-top: 1px solid #dde0e4;
    width: 1040px;
    margin: 0 auto;
    padding: 25px 0;
}

.issue-container .issue-list .issue-ever .issue-list-title {
    width: 100%;
    font-size: 20px;
}

.issue-container .issue-list .issue-ever .issue-list-title .title a {
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    color: #29374b;
}

.issue-container .issue-list .issue-ever .issue-list-title .title .hot {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    width: 20px;
}

.issue-container .issue-list .issue-ever .issue-list-title .title .hot img {
    vertical-align: top;
    width: 100%;
}

.issue-container .issue-list .issue-ever .muted {
    display: inline-block;
    line-height: 30px;
    font-size: 13px;
    color: #727e90;
}

.issue-article-container .link {
    float: left;
    width: 310px;
}

.issue-article-container .article {
    float: left;
    margin-right: 30px;
    width: 800px;
    background: #fff;
    padding-top: 58px;
}

.issue-article-container .link h3 {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #727e90;
    line-height: 20px;
    margin-bottom: 20px;
}

.issue-article-container .link .link-container {
    width: 100%;
}

.issue-article-container .link .link-container .link-ever {
    overflow: hidden;
    width: 100%;
    height: 107px;
    margin-bottom: 2px;
    background: #fff;
}

.issue-article-container .link .link-container .link-ever .title {
    width: 270px;
    height: 40px;
    overflow: hidden;
    margin: 20px auto 0;
    text-align: justify;
}

.issue-article-container .link .link-container .link-ever .title a {
    color: #253f63;
    font-size: 14px;
    line-height: 20px;
}

.issue-article-container .link .link-container .link-ever .date {
    color: #93a0b0;
    font-size: 13px;
    width: 270px;
    margin: 10px auto 0;
}

.issue-article-container .article .article-title {
    width: 700px;
    margin: 0 auto;
}

.issue-article-container .article .article-title h2 {
    color: #29374b;
    width: 100%;
    text-align: center;
    line-height: 42px;
}

.issue-article-container .article .article-title .muted {
    color: #727e90;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.issue-article-container .article .article-content {
    width: 700px;
    margin: 40px auto 70px;
    padding: 30px 0 50px;
    /*border-top: 1px solid #dde0e4;*/
    color: #253f63;
    font-size: 14px;
    line-height: 28px;
    word-wrap:break-word;
}

.article-content p {
    margin: 0 0 10px;
}

.sub-nav .container ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 30px;
    width: 1px;
    background: #dde0e4;
    height: 20px;
}

.sub-nav .container ul li:first-child:after {
    content: '';
    display: none;
}

/*帮助中心*/
.row-fluid {
    width: 100%;
    margin-bottom: 0px !important;
}

.row-fluid [class*=span]:first-child {
    margin-left: 0;
}

.row-fluid .span4 {
    width: 31.914893617021278%;
}

.row-fluid [class*=span] {
    display: block;
    float: left;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row-fluid:after, .row-fluid:before {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

[class*=span9] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
}

[class*=span3] {
    float: right;
    min-height: 1px;
    margin-left: 30px;
}

.row-fluid .span6 {
    width: 48.93617021276595%;
}

.help-center .center-wrap .span9 {
    width: 800px
}

.help-center .center-wrap .span3 {
    width: 310px;
}

.help-center .center-wrap .box {
    margin: 30px 0;
    background-color: #fff;
    border: 1px solid #f3f3f3;
}

.help-center .center-wrap .box h2 {
    padding: 20px 20px 0 20px;
    font-size: 14px;
    color: #aab2bd
}

.help-center .center-wrap .box h2:before {
    content: '';
    display: inline-block;
    margin-right: 4px;
    width: 4px;
    height: 16px;
    vertical-align: middle;
    background-color: #aab2bc
}

.help-center .center-wrap .box.common-question a, .help-center .center-wrap .box.hot-question a {
    margin: 15px 0;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 14px
}

.help-center .center-wrap .box.common-question a:hover, .help-center .center-wrap .box.hot-question a:hover {
    background-color: #f7fbfe
}

.help-center .center-wrap .box .box-content {
    padding: 0 20px 20px;
}

.help-center .center-wrap .box.hot-question a {
    display: block;
    padding: 0 20px;
    color: #5c6066;
    line-height: 30px
}

.help-center .center-wrap .box.qq-service a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    cursor: pointer
}

.help-center .center-wrap .box.qq-service .service-phone {
    display: none;
    line-height: 40px
}

.help-center .center-wrap .box.common-question .box-content {
    padding: 10px 20px 30px
}

.help-center .center-wrap .box.common-question .box-content:last-child {
    padding: 0 20px
}

.help-center .center-wrap .box.common-question a {
    display: block;
    padding: 0 10px;
    color: #5c6066;
    line-height: 30px
}

.help-center .center-wrap .box.common-question h3 {
    text-align: center;
    line-height: 20px
}

.help-center .center-wrap .box.common-question h3 a {
    display: inline;
    line-height: 20px;
    font-size: 14px;
    color: #aab2bd
}

.help-center .center-wrap .box.common-question h3 a:hover {
    background-color: #fff;
    color: #00b2ff;
    text-decoration: underline
}

.help-center .center-wrap .box.flow-intro .item {
    padding: 30px 0;
    zoom: 1
}

.help-center .center-wrap .box.flow-intro .item:after, .help-center .center-wrap .box.flow-intro .item:before {
    content: "";
    display: table
}

.help-center .center-wrap .box.flow-intro .item:after {
    clear: both
}

.help-center .center-wrap .box.flow-intro .item a {
    text-decoration: none;
    color: #5c6066;
    font-size: 14px
}

.help-center .center-wrap .box.flow-intro .item a:hover {
    color: #00b2ff;
    text-decoration: underline
}

.help-center .center-wrap .box.flow-intro .item .type {
    position: relative;
    float: left;
    width: 80px;
    text-align: center
}

.help-center .center-wrap .box.flow-intro .item .type span {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 10px;
    line-height: 16px;
    color: #aab2bd
}

.help-center .center-wrap .box.flow-intro .item .type span:after {
    content: '';
    position: absolute;
    right: -25px;
    top: -15px;
    height: 60px;
    border-right: 1px solid #f4f6f8
}

.help-center .center-wrap .box.flow-intro .item .branches {
    float: left;
    margin-left: 10px;
    width: 100px
}

.help-center .center-wrap .box.self-service .box-content {
    padding: 10px 20px 20px
}

.help-center .center-wrap .box.self-service .item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    zoom: 1
}

.help-center .center-wrap .box.self-service .item:after, .help-center .center-wrap .box.self-service .item:before {
    content: "";
    display: table
}

.help-center .center-wrap .box.self-service .item:after {
    clear: both
}

.help-center .center-wrap .box.self-service .item:hover {
    background-color: #f7fbfe
}

.help-center .center-wrap .box.self-service .item img {
    float: left;
    min-width: 60px;
    min-height: 60px;
    margin-top: 5px
}

.help-center .center-wrap .box.self-service .item .text {
    float: left;
    margin: 0 0 0 15px;
    width: 100px
}

.help-center .center-wrap .box.self-service .item .text h4 {
    font-size: 14px;
    color: #5c6066
}

.help-center .center-wrap .box.self-service .item .text span {
    font-size: 12px;
    color: #aab2bd
}

/*帮助中心详情页*/
.help-category .category-wrap {
    padding: 10px 0 30px;
}

.help-category .category-wrap .span2 {
    width: 170px;
}

.help-category .category-wrap ul {
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-right: none;
    box-sizing: border-box;
}

.help-category .category-wrap ul li a.active, .help-category .category-wrap ul li a:hover {
    background-color: #2cb5fb;
    color: #fff;
}

.help-category .category-wrap ul li a {
    display: block;
    padding-left: 40px;
    line-height: 40px;
    color: #5c6066;
    font-size: 14px;
}

.help-category .category-wrap .span10 {
    margin: 0;
}

.help-category .category-wrap .qa-panel {
    padding: 20px;
    min-height: 450px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.help-category .category-wrap .qa-panel .question {
    padding: 0 20px 10px;
}

.question h3 {
    font-size: 18px;
    line-height: 32px;
}

.question h1 {
    font-weight: 400;
    color: #414141;
    margin: 0;
    padding: 0;
}

.help-category .category-wrap .qa-panel .question p {
    margin: 0;
    padding-left: 2em;
    font-size: 14px;
    color: #080808;
}

.clearfix:after, .container-fluid:after, .container:after, .dl-horizontal:after, .row-fluid:after {
    clear: both;
}

[class*=span] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
}

.help-category .category-wrap .qa-panel .question h3 a {
    font-size: 14px;
    color: #00b2ff;
}

.test>a {
    cursor: pointer;
}

.info {
    line-height: 50px;
    font-size: 18px;
    color: #aab2bd;
}

.info span {
    margin-right: 10px;
    color: #00b2ff;
}