body {
    background-color: #fff
}

a {
    color: #5E5E5E
}

.btn {
    height: auto;
    line-height: normal
}

.header .main-nav-wrapper .main-nav .main-nav-logo {
    position: relative
}

.header .main-nav-wrapper .main-nav .main-nav-logo a.feng-main {
    position: absolute;
    width: 135px;
    height: 50px;
    top: 10px
}

.header .main-nav-wrapper .main-nav .main-nav-logo a.feng-mall {
    position: absolute;
    width: 130px;
    height: 50px;
    top: 10px;
    left: 140px
}

.header .main-nav .container {
    position: relative
}

.header .main-nav .container .main-menu-rst {
    position: absolute;
    right: 135px;
    margin: 0
}

.wrapper table td, .wrapper table th {
    padding-left: 0
}

.wrapper table tbody tr td {
    font-size: 14px
}