.datapicker {
    width: 696px;
    height: 318px;
    margin: 24px auto 0;
}

.datapicker .paituodai-datepicker-week,
.datapicker .paituodai-datepicker-day {
    width: 600px;
    margin-top: 13px;
    margin-left: 50px;
    margin-right: 50px;
    zoom: 1;
    display: block;
}

.datapicker .paituodai-datepicker-day {
    margin-top: 23px;
}

.datapicker .paituodai-datepicker-week:after,
.datapicker .paituodai-datepicker-day:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.datapicker .paituodai-datepicker-week span {
    color: #bdbdbd;
    width: 31px;
    height: 31px;
    margin-left: 45px;
    display: block;
    float: left;
    text-align: center;
    line-height: 31px;
    position: relative;
    font-size: 14px;
}

.datapicker .paituodai-datepicker-day span {
    width: 31px;
    height: 31px;
    margin-left: 45px;
    display: block;
    float: left;
    text-align: center;
    line-height: 31px;
    margin-bottom: 15px;
    font-size: 14px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    transition: all .3s ease 0s;
    cursor: pointer;
}

.datapicker .paituodai-datepicker-day span.specialMonth {
    margin-bottom: 8px;
}

.datapicker .paituodai-datepicker-day span a {
    color: #9e9e9e;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease 0s;
}

.datapicker .paituodai-datepicker-day span i {
    transition: all .3s ease 0s;
    width: 0;
    height: 0;
    background-color: #269aeb;
    border-radius: 10px;
    display: inherit;
    position: absolute;
    bottom: 2px;
    left: 16px;
}

.datapicker .paituodai-datepicker-day span.today {
    background-color: #269aeb;
    color: #fff;
}

/*.datapicker .paituodai-datepicker-day span.hasdata {
    cursor: pointer;
}*/

.datapicker .paituodai-datepicker-day span.hasdata a {
    transition: all .3s ease 0s;
    color: #269aeb;
}

.datapicker .paituodai-datepicker-day span.today a {
    color: #fff;
}

.datapicker .paituodai-datepicker-day span.hasdata i {
    width: 5px;
    height: 5px;
    left: 13px;
    bottom: 0;
    transition: all .3s ease 0s;
}

.datapicker .paituodai-datepicker-day span.hasdata:hover a {
    color: #fff;
}

.datapicker .paituodai-datepicker-day span.hasdata:hover i {
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 50%;
}